@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  
    background-color: #000;
  
   
}


  .animate-pulse-custom {
    animation: pulseCustom 10s infinite;
  }

  @keyframes pulseCustom {
    0%, 100% { background-color: #000000; }
    50% { background-color: #080250; }
  }


  .rotate-scale-down-ver {
	animation: rotate-scale-down-ver 0.65s linear both;
}

@keyframes rotate-scale-down-ver {
    0% {
      transform: scale(1) rotateY(0);
    }
    50% {
      transform: scale(0.5) rotateY(180deg);
    }
    100% {
      transform: scale(1) rotateY(360deg);
    }
  }


  

/*
section.fundo {
   
    position: absolute static;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    
}

section.fundo div {
    width: 8.33%;
    height: 90px;
    background: #000000;
    border: rgb(37, 31, 1) 1px solid;
    transition: all 0.5s;
    
}

section.fundo div:nth-child(odd) {
    background-color: rgb(245, 229, 6);
}

section.fundo div:hover{
    background-color: rgb(34, 31, 4);
    transition: all 0.3s;
}
*/